#users   { border: 1pt solid blue;   border-spacing: 1em; }
#users * { border: 1pt solid yellow; padding: 1em; border-spacing: 1em; }

#report   { border: 1pt solid cyan; width:100%; }
#head     { text-align: center; font-size: 1.5vw; }
